/* Common Css Start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
ul,ol{
    list-style: none;
}
a{
    display: inline-block;
    text-decoration: none;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 500px;
}
/* Common Css End */
/* Form Start */
body{
    background: #233243;
}
#Login-Form{
    border-radius: 40px;
    border: 15px solid #233243;
    box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0,0,0,0.35),
    inset 5px 5px 15px rgba(255, 255, 255, 0.1),
    inset -5px -5px 15px rgba(0,0,0,0.35);
    width: 80%;
    max-width: 500px;
    padding: 40px;
    margin: 50px auto 0 auto;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.tittle h1{
    color: #fff;
    font-weight: 500;
    padding-bottom: 30px;
}
.input-field{
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}
.input-field input{
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    width: 100%;
    padding: 8px 12px 8px 50px;
    border: none;
    outline: none;
    border-radius: 20px;
    background: #233243;
}
.input-field i{
    position: absolute;
    top: 9px;
    left: 12px;
    pointer-events: none;
    color: #38e1ff;
    font-size: 20px;
    padding-right: 10px;
    border-right: 1px solid #38e1ff;
}
.input-field span{
    position: absolute;
    top: 6px;
    left: 50px;
    pointer-events: none;
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    transition: all linear 0.2s;
}
.input-field input:valid~span,
.input-field input:focus ~ span{
    background: #233243;
    color: #fff;
    border: 1px solid #38e1ff;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 10px;
    transform: translate(-20px,-14px);
}
.input-field input:valid,
.input-field input:focus {
    border: 1px solid #38e1ff;
}
.form button{
    background: #38e1ff;
    position: relative;
    color: rgba(0, 0, 0, 0.782);
    border: 1px solid #38e1ff;
    padding: 10px 25px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    cursor:pointer;
    transition: all ease-in 0.3s;
}
.form button:hover{
    background: transparent;
}
.form p{
    color: rgba(255, 255, 255, 0.5);
    font-weight: 200;
    font-size: 12px;
}
.form p a{
    color: #38e1ff;
    font-weight: 400;
    font-size: 12px;
    padding-left: 12px;
}
/* Form End */
/* Footer Start */
#footer{
    margin-top: 40px;
    padding: 10px 0;
    text-align: center;
}
/* #footer .bottom-footer{} */
#footer p a{
    font-weight: 600;
    font-style: italic;
    color: rgba(0, 229, 255, 0.5);
    margin-left: 10px;
}
/* Footer End */